<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan Eligibility</title>
  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
</head>
<body>
<div class="split left">
  <div class="card">
    <img src="{{url_for('static', filename ='images/loan.png')}}" style="width:90%">
    <h1>Eligibility Scanner</h1>
    <p text-align="center">To check whether you are eligible for the loan in XYZ Bank, please fill the form.</p>
    <p class="fee">Free Loan Eligibility Check</p>
  </div>
</div>
<div class="top">
  <p></p>
</div>
<div class="centered">
  <h1 style="font-family: Papyrus;color:black" align="center">Loan Application Eligibility</h1>
  <h3 style="font-family:Sans Serif; color:black"><i>Your loan application will be {{status}}.</i></h3>

  <br/><br/><br/>

  <h3 style="font-family:Sans Serif; color:black"> <a href="/">Go back to main page</a></h3>
</div>
<br/>
<div class="footer">
  <p>&copy; All rights reserved 2021 - Chitra Methwani</p>
</div>
<div class="split right">
  <div class="card">
    <img src="{{url_for('static', filename ='images/about-us.png')}}" style="width:90%">
    <h1>About Us</h1>
    <p text-align="center">XYZ Bank brings the new AI feature which tells your eligibility to get a loan in few seconds.</p>
    <p class="fee">Banking with us becomes easy</p>
  </div>
</div>
</body>
</html>
